@page
@model IndexModel
@{
    ViewData["Title"] = "Product Page";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Product Code
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Product Description
                </th>
                <th>
                    Product Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @item.ProductCode
                    </td>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.ProductDescLong
                </td>
                <td>
                    @item.ProductType.ProductTypeName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>